<div class="footer out-footer">
  <div class="copyright">
    <p>
      Copyright © Developed by
      <a href="https://bintangmfhd.com/" target="_blank">bintangmfhd</a>
      2024
    </p>
  </div>
</div>
