<head>
  <!-- Title -->
  <title>Crypto | BINTANGMFHD</title>

  <!-- Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="author" content="DexignZone" />
  <meta name="robots" content="index, follow" />
  <meta
    name="keywords"
    content="Cryptocurrency, Crypto Trading, CakePHP Admin Template, Bootstrap 5, Cryptocurrency Dashboard,, mobile app template, mobile commerce, Bootstrap Template, Admin Panel, Dashboard UI Kit, HTML5, CSS3, Responsive Web App, Bootstrap 4, User Interface Design, android, mobile, mobile template, mobile app, ui kit, dark layout, app, ecommerce, mobile web, pwa, web app, Bootstrap, mobile UI, Progressive Web App, app template, responsive design, trendy app, modern UI, technology, User-Friendly Interface, PWA (Progressive Web App), Mobile Ordering, Innovative Technology, App Development, Mobile App Development, Product Showcase, Customizable, Modern Design, UI/UX Design, Mobile App Design, Web Application, Digital Presence"
  />
  <meta
    name="description"
    content="Explore the dynamic world of cryptocurrency trading with CryptoZone, a CakePHP Admin Template built on Bootstrap 5. This feature-rich template offers a responsive and user-friendly interface, making it ideal for managing cryptocurrency transactions and market analytics. Elevate your crypto trading platform with advanced features, user management capabilities, and seamless financial control. Dive into the future of finance with CryptoZone's cutting-edge design and robust functionalities."
  />
  <meta property="og:title" content="Crypto BINTANGMFHD" />
  <meta
    property="og:description"
    content="Explore the dynamic world of cryptocurrency trading with CryptoZone, a CakePHP Admin Template built on Bootstrap 5. This feature-rich template offers a responsive and user-friendly interface, making it ideal for managing cryptocurrency transactions and market analytics. Elevate your crypto trading platform with advanced features, user management capabilities, and seamless financial control. Dive into the future of finance with CryptoZone's cutting-edge design and robust functionalities."
  />
  <!-- <meta property="og:image" content="/assets/image/social-image.png" /> -->
  <meta name="format-detection" content="telephone=no" />
  <meta name="twitter:title" content="Crypto BINTANGMFHD" />
  <meta
    name="twitter:description"
    content="Explore the dynamic world of cryptocurrency trading with CryptoZone, a CakePHP Admin Template built on Bootstrap 5. This feature-rich template offers a responsive and user-friendly interface, making it ideal for managing cryptocurrency transactions and market analytics. Elevate your crypto trading platform with advanced features, user management capabilities, and seamless financial control. Dive into the future of finance with CryptoZone's cutting-edge design and robust functionalities."
  />
  <!-- <meta name="twitter:image" content="../../social-image.png" /> -->
  <meta name="twitter:card" content="summary_large_image" />
  <!-- Mobile Specific -->
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui, viewport-fit=cover"
  />
  <!-- Favicon icon -->
  <link href="/assets/images/favicon.png" type="" rel="icon" /><link
    href="/assets/images/favicon.png"
    type=""
    rel="shortcut icon"
  />
  <link
    rel="stylesheet"
    href="/assets/vendor/jquery-nice-select/css/nice-select.css"
  /><link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Icons"
  />
  <link rel="stylesheet" href="/assets/css/style.css" class="main-css" />
</head>
