<div class="nav-header">
  <a href="/" class="brand-logo">
    <img src="/assets/images/logo/logo.png" class="logo-abbr" alt="" />
    <img src="/assets/images/logo/logo-text.png" class="brand-title" alt="" />
    <img src="/assets/images/logo/logo-color.png" class="logo-color" alt="" />
    <img
      src="/assets/images/logo/logo-text-color.png"
      class="brand-title color-title"
      alt=""
    />
  </a>
  <div class="nav-control">
    <div class="hamburger">
      <span class="line"></span><span class="line"></span><span class="line"
      ></span>
      <svg
        width="26"
        height="26"
        viewBox="0 0 26 26"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect x="22" y="11" width="4" height="4" rx="2" fill="#2A353A"></rect>
        <rect x="11" width="4" height="4" rx="2" fill="#2A353A"></rect>
        <rect x="22" width="4" height="4" rx="2" fill="#2A353A"></rect>
        <rect x="11" y="11" width="4" height="4" rx="2" fill="#2A353A"></rect>
        <rect x="11" y="22" width="4" height="4" rx="2" fill="#2A353A"></rect>
        <rect width="4" height="4" rx="2" fill="#2A353A"></rect>
        <rect y="11" width="4" height="4" rx="2" fill="#2A353A"></rect>
        <rect x="22" y="22" width="4" height="4" rx="2" fill="#2A353A"></rect>
        <rect y="22" width="4" height="4" rx="2" fill="#2A353A"></rect>
      </svg>
    </div>
  </div>
</div>
