<div class="deznav">
  <div class="deznav-scroll">
    <ul class="metismenu" id="menu">
      <li>
        <a href="/" aria-expanded="false">
          <i class="material-icons">grid_view</i>
          <span class="nav-text">Dashboard</span>
        </a>
      </li>
      <li>
        <a class="has-arrow" href="javascript:void(0);" aria-expanded="false">
          <i class="material-icons">currency_bitcoin</i>
          <span class="nav-text">Bybit</span>
        </a>
        <ul aria-expanded="false">
          <li><a href="/bybit/bank">Bank</a></li>
          <li><a href="/bybit/trading">Trading</a></li>
        </ul>
      </li>
      <li>
        <a class="has-arrow" href="javascript:void(0);" aria-expanded="false">
          <i class="material-icons">currency_bitcoin</i>
          <span class="nav-text">Indodax</span>
        </a>
        <ul aria-expanded="false">
          <li><a href="/indodax/bank">Bank</a></li>
          <li><a href="/indodax/trading">Trading</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
